/*Section one style */

.H_span{
    color:var(--primaryColor);
}
.title
{
    color: var(--links_color);
    font-family: var(--titleFont);
}


/*  Section two style */

.SectionTwo {
    background-color: var(--offWhite);
}

.SectionH2
{
    color: var(--primaryColor);
}
.Sec2List
{
    font-size: 22px;
    margin-top: 15px;
    font-weight: 500;
}

/* Section three style */

.SectionThree
{
    background-color: var(--thirdColor);
    margin-top: 30px;
}
.Section_H4 {
    text-align: center;
    color: var(--primaryColor);
    font-weight: bolder;
}
.Sec3List {
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;
}


/* Pay Div */

.payment
{
    background-color:var(--statisticColor) ;
    text-align: center;
    margin-top: 10px;
    
}
.payment_Span
{
    color:var(--primaryColor);
}

.paymentImages{
    width: 75%;
    margin: auto;
}
.payImg
{
    width: 25%;
    padding: 30px;
}


@media only screen and (max-width: 600px) {
    .paymentImages
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .payImg
    {
        padding: 15px;
        margin: auto;
    }
    }

    /* Section four style */
    
.Section4_H2
{
    color: var(--links_color);
}

