.FormStyle
{
    background-color: var(--offWhite);
    border: 2px solid #fff;
    border-radius: 20px;
    width: 70%;
    margin: 0 auto;
}
.ImageParagraph {
    background-color: var(--offWhite);
    padding: 3px;
    margin-top: 5px;
}

.ImgCursor {
    cursor: pointer;
    text-align: center;
}