.card_slider
{
    width: 70%;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
    
}

.cardOne
{
    background-color: var(--secondColor);
    width: 93% !important;
}
.cardTwo
{
    background-color: var(--statisticColor);
    width: 93% !important;
}
.cardText
{
    background-color:var(--mainWhite);
    font-size: 1rem;
    font-weight: bold;
    border: 0px solid #000000;
    border-radius: 98px 98px 98px 98px;
    box-shadow: -5px 6px 12px -1px rgba(0, 0, 0, 0.75);
    margin:12px ;
    padding: 6px;
}
